.authform
  %h3
    Edit #{@user.email}
  = form_for(@user, :html => { :method => :put, :role => 'form'}) do |f|
    .form-group
      = f.label :name
      = f.text_field :name, :autofocus => true, class: 'form-control'
    
 
    = f.submit 'Update', :class => 'button right'
