.authform
  %h3
    Edit #{@user.email}
  = simple_form_for(@user, :html => { method: :put, multipart: true, role: 'form', class: 'form-vertical'}) do |f|
    .form-group
      = f.label :name
      = f.input :name, :autofocus => true, class: 'form-control'
    .form-group
      = f.file_field :cv 
    = f.button :submit, 'Save profile', :class => 'btn-primary'