.container
  .row.text-center
    .userpic
      =image_tag @user.picture_url, class: "user-photo img-circle img-responsive img-thumbnail"
      =button_to '#', class: 'btn-play' do
        %span.glyphicon.glyphicon-play
  .row.text-center.username
    %h2
      #{@user.name}
  .row.text-center.location
    %span.glyphicon.glyphicon-map-marker
    %span
      =@user.location
  .row.text-center.headline
    %p
      =@user.headline
  .row.skills.text-center
    - @user.skill_names.each do |skill|
      %span.label.label-primary.tag
        = "#{skill}"
-# %p.positions
-#   ="Positions: #{@user.position_names.join(' ')}"
-if @user.cv.present?
  .row.cv
  %span.glyphicon.glyphicon-paperclip
  %span
    = link_to 'Download CV', @user.cv.url
