.container
  .row.text-center
    .userpic
      =image_tag @user.picture_url, class: "user-photo img-circle img-responsive img-thumbnail"
      =button_to '#', class: 'btn-play' do
        %span.glyphicon.glyphicon-play


  .row.text-center
    .username
      %h2
        #{@user.name}
%p.headline
  ="Headline: #{@user.headline}"
%p.skills
  ="Skills: #{@user.skill_names.join(' ')}"
%p.positions
  ="Positions: #{@user.position_names.join(' ')}"
%p.location
  ="Location: #{@user.location}"
-if @user.cv.present?
  %p.cv
    = link_to 'CV', @user.cv.url

= link_to 'Edit account', edit_user_path


glyphicon glyphicon-play