%h3 User
%p
  User: #{@user.name}
%p
  Email: #{@user.email if @user.email}
%p
  =image_tag @user.picture_url, class: "user-photo"
%p.headline
  ="Headline: #{@user.headline}"
%p.skills
  ="Skills: #{@user.skill_names.join(' ')}"
%p.positions
  ="Positions: #{@user.position_names.join(' ')}"
%p.location
  ="Location: #{@user.location}"
-if @user.cv.present?
  %p.cv
    = link_to 'CV', @user.cv.url

= link_to 'Edit account', edit_user_path